@use '../../assets/styles/constants' as *;

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.add {
  position: absolute;
  top: 30px;
  right: 80px;
  font-size: 30px;
  outline: none;
  border: none;
  color: $color__black;
  background: transparent;
  cursor: pointer;
}

.add:hover {
  color: $color__green;
  transition: 0.2s;
}

.logout {
  margin-right: 20px;
}

.exit {
  top: 30px;
  left: 80px;
  font-size: 30px;
  position: absolute;
  outline: none;
  border: none;
  color: $color__black;
  background: transparent;
  cursor: pointer;
}

.exit:hover {
  color: $color__red;
  transition: 0.2s;
}
