@use '../../assets/styles/constants' as *;

.initial_wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.name_initial {
  width: 85px;
  height: 85px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  font-size: 42px;
  font-weight: 600;
  background-color: $color__green;
  color: $color__white;
  opacity: 0.7;
}

.info {
  margin-top: 50px;
  margin-bottom: 50px;
}

.full_name {
  margin-left: 30px;
  margin-bottom: 40px;

  font-size: 30px;
  font-weight: 400;

  border: none;
  border-bottom: 1px solid $color__grey__50;
  outline-style: none;
}
.full_name_change {
  font-size: 30px;
  font-weight: 400;

  margin-left: 30px;
  margin-bottom: 40px;
  outline-style: none;

  border: none;
  border-bottom: 1px solid $color__grey__50;
  border-radius: 10px;
  background-color: rgba(255, 216, 99, 0.2);
}

.number {
  font-size: 30px;
  font-weight: 400;

  outline: none;

  margin-left: 30px;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid $color__grey__50;
}

.number_change {
  font-size: 30px;
  font-weight: 400;

  margin-left: 30px;
  margin-bottom: 40px;

  outline: none;
  border: none;
  border-bottom: 1px solid $color__grey__50;
  border-radius: 10px;
  background-color: rgba(255, 216, 99, 0.2);
}

.full_name i {
  margin-right: 40px;
}

.number i {
  margin-right: 40px;
}

.full_name::placeholder {
  opacity: 0.5;
}

.number::placeholder {
  opacity: 0.5;
}

.edit {
  width: 30px;
  height: 30px;

  font-size: 18px;

  border-radius: 50px;
  border: none;
  background: none;
  color: $color__black;

  cursor: pointer;
}

.edit:hover {
  background: $color__grey__30;
  transition: 0.2s;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm {
  width: 400px;
  height: 40px;

  font-size: 24px;

  border: none;
  border-radius: 10px;
  background-color: $color__green;
  color: $color__white;
  cursor: pointer;
}

.confirm:hover {
  background-color: rgb(109, 163, 151);
  transition: 0.2s;
}
