@use '../../assets/styles/constants' as *;

.overlay {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(47, 47, 47, 0.222), rgba(0, 0, 0, 0.275));
  z-index: 1;
}

.overlay_inner {
  width: 600px;
  height: 500px;

  font-size: 1.3rem;
  position: relative;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  background: $color__white;
  color: $color__black;
}

.overlay_inner .close {
  position: absolute;
  top: 20px;
  right: 30px;

  font-size: 25px;
  outline: none;
  border: none;
  color: $color__black;
  background: transparent;
  cursor: pointer;
}

.close:hover {
  color: $color__red;
}

.overlay_inner .inner_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
