@use '../../assets/styles/constants.scss' as *;

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.search {
  position: relative;
  border-bottom: 1px solid $color__grey__70;
  margin: 30px 0;
}

.search input {
  width: 400px;
  height: 35px;

  font-size: 16px;
  font-weight: 100;
  padding: 0, 5px;
  border: none;
  background: none;
  outline: none;
}

.search input::placeholder {
  opacity: 0.5;
}

.search i {
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: $color__grey__70;
}
